{% extends "djstripe/admin/change_form.html" %}
{% load i18n %}
{% load static %}

{% block object-tools-items %}
    {{ block.super }}
    {% with original.get_stripe_dashboard_url as stripe_url %}
        {% if original.status == 'succeeded' and original.amount_refunded < original.amount %}
            <li>
                <a href="{% url 'payment-intent-refund' pk=original.payment_intent.pk %}" rel="refund-modal:open"
                   class="djstripe-payment-refund-cta">
                    {% trans "Refund" %}
                </a>
            </li>
        {% endif %}
    {% endwith %}
{% endblock %}

{% block admin_change_form_document_ready %}
    {{ block.super }}
    <script src="{% static 'djstripe/refund.js' %}"></script>
{% endblock %}
