[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "*"
Django = "~=3.0"
djangorestframework = "~=3.11"
djangorestframework-simplejwt = "*"
django-environ = "*"
django-extensions = "*"
django-hashid-field = "~=3.1"
django-hosts = "*"
drf-access-policy = "*"
dj-stripe = "*"
pytest-faker = "*"
psycopg2-binary = "*"
requests = "*"
sentry-sdk = "*"
six = "*"
social-auth-app-django = "==4.0.0"
social-auth-core = "==4.0.2"
whitenoise = "*"
graphene-django = "*"

[dev-packages]
black = "==20.8b1"
callee = "*"
drf-yasg = "==1.20.0"
factory_boy = "==2.12.0"
flake8 = "*"
moto = "==1.3.16.dev122"
pytest = "==5.4.1"
pytest-django = "~=3.9"
pytest-dotenv = "*"
pytest-factoryboy = "~=2.0"
pytest-freezegun = "*"
pytest-mock = "*"

[requires]
python_version = "3.8"
