{
  "ignoreFiles": ["src/shared/components/**/index.ts"],
  "processors": ["stylelint-processor-styled-components"],
  "extends": [
    "stylelint-config-recommended",
    "stylelint-config-styled-components"
  ],
  "rules": {
    "no-extra-semicolons": null,
    "property-no-vendor-prefix": [
      true,
      {
        "ignoreProperties": ["line-clamp", "box-orient"]
      }
    ],
    "value-no-vendor-prefix": [
      true,
      {
        "ignoreValues": ["box"]
      }
    ]
  }
}
